<div>
        <mat-form-field>
            <input type="text" matInput placeholder="Nombres" [(ngModel)]="tipoCliente.nombre">
        </mat-form-field>
      
        <mat-form-field>
                <input type="text" matInput placeholder="Descripcion" [(ngModel)]="tipoCliente.descripcion">
            </mat-form-field>


            <mat-form-field>
                    <mat-select placeholder="Estado" [(value)]="idTipoClienteSeleccionado" required>
                        <mat-option  value="A">ACTIVO </mat-option>
                        <mat-option  value="I">INACTIVO</mat-option>
                    </mat-select>
            </mat-form-field>

      
      
      
      
      
      
      </div>
      <button mat-raised-button color="primary" (click)="operar()" [disabled]="estadoBotonOperar()" >Aceptar</button>
      <button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>